@import 'tailwindcss';

@theme {
    --font-display: "Outfit", "Inter", system-ui, sans-serif;
}
html {
    scroll-behavior: smooth;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}